.wrapper {
	padding: 40px 40px 30px;
}

 .subtitle {
	color: var(--neutral);
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.title {
	color: var(--dark);
	font-weight: 600;
}
 .title-wrapper {
	 padding-bottom: 30px;
	 border-bottom: solid 1px var(--border);
 }